*, *:before, *:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

* {
  font-family: 'pt-root-ui_vf', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

html {
  height: 100%;
  box-sizing: border-box;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

body {
  height: 100%;
  position: relative;
  font-size: 13.6px;
  margin: 0;
  background: var(--lb-background, linear-gradient(360deg, rgb(15, 23, 42), rgb(33, 29, 37)));

  font-variant-numeric: lining-nums tabular-nums;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

a {
  text-decoration: none;
}
